<style>
         body {
            background-image: url("https://wallpaperaccess.com/full/1360038.jpg");
            background-size: 110%;
            background-repeat: no-repeat;
            color:white
         }
      </style>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>
      <% if (!user) { %>
      <form class="form-check" action="/login" method="POST">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>
      </form>

      <% } else { %>
      <form class="form-check" action="/logout" method="POST">
        <div class="form-check mb-2">
          <label for="Username">Logged In As: <%= user.email %> </label>
          <button type="submit" class="btn btn-primary">Logout</button>
        </div>
      </form>
      <% } %>
    </div>
  </nav>
</header>
